body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(img/newbackground.png);
}

.dice-container {
    display: flex;
    gap: 20px;
}

img {
    width: 100px;
    height: 100px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 10%;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
button:hover {
    background-color: #4CAF50;
    transform: scale(1.05); 
}


